/* Color */
$white: #ffffff;
$primary: #f23434;
$secondary: #41489a;
$link: #4a90e2;
$grayDefaul: #f2f2f2;
$graySecoundary: #f9f8f7;

#story-root{
	padding: 10px;
}
ul {
	padding: 0px;
	margin: 0;
}
a {
	text-decoration: none;
}

/* --------- */
.rheostat {
	overflow: visible;
}

.rheostat-background {
	background-color: #f2f2f2;
	position: relative;
}

.rheostat-progress {
	background-color: #f23434;
	position: absolute;
}

.rheostat-handle {
	background-color: #f23434;
	border: 1px solid #ffffff;
	border-radius: 60%;
	height: 15px;
	outline: none;
	z-index: 2;
	width: 14px;
}

.rheostat-horizontal {
	height: 15px;
}

.rheostat-horizontal .rheostat-background {
	height: 5px;
	top: 0px;
	width: 100%;
}

.rheostat-horizontal .rheostat-progress {
	height: 5px;
	top: 0;
}

.rheostat-horizontal .rheostat-handle {
	margin-left: -12px;
	top: -5px;
}

.rheostat-horizontal .rheostat-handle:before,
.rheostat-horizontal .rheostat-handle:after {
	top: 7px;
	height: 5px;
	width: 1px;
}

.rheostat-horizontal .rheostat-handle:before {
	left: 10px;
}

.rheostat-horizontal .rheostat-handle:after {
	left: 13px;
}

.rheostat-vertical {
	height: 100%;
	width: 24px;
}

.rheostat-vertical .rheostat-background {
	height: 100%;
	top: 0px;
	width: 15px;
}

.rheostat-vertical .rheostat-progress {
	left: 2px;
	width: 13px;
}

.rheostat-vertical .rheostat-handle {
	left: -5px;
	margin-top: -12px;
}

.rheostat-vertical .rheostat-handle:before,
.rheostat-vertical .rheostat-handle:after {
	left: 8px;
	height: 1px;
	width: 10px;
}

.rheostat-vertical .rheostat-handle:before {
	top: 10px;
}

.rheostat-vertical .rheostat-handle:after {
	top: 13px;
}
/* --------- */
body {
	font-family: 'Roboto, sans-serif';
	background: #121317;
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
#storybook-preview-iframe {
	font-family: 'Roboto, sans-serif' !important;
}
html {
	box-sizing: border-box !important;
	-ms-touch-action: none !important;
	outline: 0px !important;

	button:focus {
		outline: 0px !important;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
*:focus {
	outline: 0px !important;
}

source {
	overflow: 'hidden';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 100;
	margin: 0;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}

@keyframes animateShape {
	50% {
		cy: 100;
		opacity: 0.1;
	}
}
@keyframes animateHeight {
	70% {
		height: 105px;
	}
}